.list-todo-container {
    button {
        cursor: pointer;
    }

    .add-todo {}

    .list-todo-content {
        width: 400px;
        margin: 0 auto;

        .todo-child {
            height: 40px;
            border-bottom: 1px solid grey;
            margin: 10px;

            &:first-child {
                background-color: yellow;
            }

            span {
                padding-right: 10px;
            }

            button.edit {
                margin: 0 10px;
            }
        }
    }
}